<table class="table table-bordered">
  <thead>
    <tr>
      <% 7.times do |i| %>
          <% if -i + 6 > 0 %>
            <th><%= -i + 6 %>日前</th>
          <% else %>
            <th>今日</th>
          <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% 7.times do |i| %>
        <td><%= books.created_days_ago(-i + 6).count %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<canvas id="booksChart"
<% (0..6).each do |n| %>
  <%= "data-created-#{n}day-ago-books-count=#{@books.created_days_ago(n).count}" %>
<% end %> class="mb-5">
</canvas>